.main-container{
    background-color: white;
}
.modal-container {
    width: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.modal-container input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 
.modal-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-container input[type=submit]:hover {
    background-color: #45a049;
}
.modal-container h2{
    border-bottom: 2px solid #0071bc;
    padding-bottom: 5px;
}

.modal-container .reg-form{
    padding-top: 20px;
}

.modal-container .modal-close{
    float: right;
    top: -15px;
    left: 11px;
    position: relative;
}
.container{
    background-color: #fff;
}